//IMPORTANT
$main-c:#d74d52;
$white:#fff;
$text: #192836;

//HEADER COLORS



//MAIN COLORS
$student-c:#f28202;
$happy-c: #3adc79;


//FOOTER COLORS
$f-bg-c:#192735;
$f-link-c:#a3b5ca;

//TEXT
$cursive: 'Times New Roman', Times, serif;
$normal: 'Open Sans', sans-serif;

//LAYOUT
.flex-jc {
    display: flex;
    justify-content: center;
}

.mb-30 {
    margin-bottom: 30px;
}

